:root{
    --grid-width: 600px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.grid{
    display: flex;
    flex-flow: row wrap;

    /* border: 5px solid green; */
    width: var(--grid-width);
    height: 600px;
}

.grid__cell{
    /* border: 1px solid orange; */
    height: calc(var(--grid-width)/16);
    width: calc(var(--grid-width)/16);
}